.bg-image{
    background: linear-gradient(150deg,rgba(0, 0, 0, 0.151),rgba(0, 0, 0, 0.644)),
    url(../img/utec_fondo.jpg) no-repeat fixed;
    background-position: 68%;
    background-size: cover;
    max-height: 100vh;
}