/*menu horizontal*/
// .img-brand{
//     display: none;
// }

.z-menu{
    z-index: -1;
}

/*menu vertical*/
.vh-custom{
    height: calc(100vh - 80px);
}

.img-brand{
    display: inherit;
    max-height: 4em;
    max-width: 15em;
}

/*iconos*/
.icon{
    font-size: 1.4em;
    padding: 5px 15px;
    cursor: pointer;
    z-index: 10;
    transition: all 500ms ease-in;
}

.profile-icon{
    padding: 0;
}

.close{
    display: none;
}

.hide{
    transform: translateX(-100%);
    transition: all 500ms ease-in;
}

.show{
    transform: translateX(0);
    z-index: 15;
    transition: all 500ms ease-in;
}

/*EFECTO SUPERPOSICION*/
#back-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    display: none;
    z-index: 1;
}

/*Contenido*/
.w-custom{
    width: calc(100%);
}

@media screen and (min-width:576px) {
    /*menu horizontal*/
    // .img-brand{
    //     display: inherit;
    //     max-height: 4em;
    //     max-width: 15em;
    // }

    /*menu vertical*/
    .hide{
        transform: translateX(0);
        z-index: 1;
    }

    #back-menu{
        display: none !important;
    }

    /*menu vertical*/
    .vh-custom{
        height: calc(100vh - 89px);
    }

    /*content*/
    .w-custom{
        width: calc(100% - 144px);
        margin-left: 144px;
    }
}